body {
    background-color: #FA5130;
    /* background-attachment: fixed; */
    /* background-size: cover; */
    background-size: 100% 100%;
}
.btn {
    cursor: pointer;
}
.lgn {
    z-index: 1000000;
}
.navbar {
    z-index: 0;
}