body{
  margin: 0;
  height: 100vh;
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/003/680/429/large/nova-ashbell-sc01-03.jpg?1476361405");
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  padding: 20px 30px;
  width: 350px;
  height: 500px;
  background-image: url("https://media.giphy.com/media/G0Odfjd78JTpu/giphy.gif");
  background-repeat: no-repeat;
}

.search-bar{
  text-align: center;
}

input{
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: solid 1px white;
  padding: 5px 10px;
  color: white;
}

input::placeholder{
  color: white;
}

.main-body{
  color: white;
  font-size: 16px;
  margin: 45px 0px;
  text-align: center;
}

.tem{
  font-size: 50px;
}

.tem::after{
  content: 'o';
  font-size: 30px;
  position: absolute;
}

