.wrapper{
 background-image: url('../images/banner.jpg');
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.card1{
  background-color: rgba(0, 0, 0, 0.632);
  width: 500px;
  box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.462),
  0px 5px 5px rgba(255, 255, 255, 0.462),
  0px 0px 5px rgba(255, 255, 255, 0.462),
  0px 0px 5px rgba(255, 255, 255, 0.462);
}